<header class="header">
  <a class="navbar-brand" href="/">
    <img src="https://storage.googleapis.com/infinity_bucket/meta_image/526a9400b4ef4f64060fcba07f0a.png" width="200" height="40" style="margin-top: 7px;margin-left: 10px;" alt="">
  </a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/">Check-in</a></li>
    <li><a href="/checkout">Check-out</a></li>
    <li><a href="/host">Host</a></li>
  </ul>
</header>
<br>
<br>